{% extends "MadalynnMainBundle::layout.html.twig" %}
{% block pageheader %}
    <h1>Mon profil <small>| <a href="{{ path('fos_user_profile_edit') }}">Editer</a></small></h1>
{% endblock %}

{% block content %}
    <form>
        <fieldset>
            <div class="clearfix">
                <label>E-Mail</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.email }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Nom</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.lastname }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Prénom</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.firstname }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Date de naissance</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.birthday | localeDate }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Thèse</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.thesis }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Année</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.getFormatedThesisYear | raw }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Groupe</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.group }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Bureau</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.getFormatedLevel | raw }}, bureau {{ user.office }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Téléphone</label>
                <div class="input">
                    <span class="uneditable-input">{{ user.phone }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Ancien doctorant</label>
                <div class="input">
                    <span class="uneditable-input">{%- if user.status == "EX-DOCTORANT" %}Oui{% else %}Non{% endif %}</span>
                </div>

            </div>
        </fieldset>
    </form>
{% endblock %}