{% extends "MadalynnMainBundle::layout.html.twig" %}
{% block pageheader %}
    <h1>Mon profil <small>| <a href="{{ path('fos_user_profile_edit') }}">Editer</a></small></h1>
{% endblock %}

{% block content %}
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label">E-Mail</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.email }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nom</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.lastname }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Prénom</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.firstname }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Date de naissance</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.birthday | localeDate }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Thèse</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.thesis }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Année</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.getFormatedThesisYear | raw }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Groupe</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.group }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Bâtiment</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.building }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Bureau</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.getFormatedLevel | raw }}, bureau {{ user.office }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Téléphone</label>
                <div class="controls">
                    <span class="uneditable-input">{{ user.phone }}</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Ancien doctorant</label>
                <div class="controls">
                    <span class="uneditable-input">{%- if user.status == "EX-DOCTORANT" %}Oui{% else %}Non{% endif %}</span>
                </div>

            </div>
        </fieldset>
    </form>
{% endblock %}