<div class="well user" rel="popover" title="Informations" data-offset="-50" data-content="<strong>Bâtiment</strong> {{ user.building }}, {{ user.getFormatedLevel | raw }}<br />
     <strong>Bureau</strong> : {{ user.office }}<br />
     <strong>Téléphone</strong> : {{ user.phone }}">
    <div class="doctorant-groupe">
        Groupe : <strong>{{ user.group }}</strong>
    </div>
    <div class="doctorant-name">
        <strong>{{ user.firstname }} {{ user.lastname }}</strong>
    </div>
    <div class="doctorant-these">
        {{ user.thesis }}
    </div>
    <div>
        En thèse depuis {{ user.beginningyear | date('m/Y') }}
    </div>
</div>