<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>{% block title %}Site des doctorants de l'IPNL{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Sébastien Brochet" />
        <meta name="title" content="{{ block('title') }}" />
        <meta name="description" content="" />
        <meta name="language" content="fr" />
        <meta name="robots" content="index, follow" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Magra' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="/favicon.ico" />
        {% block stylesheets %}
          <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
          {% stylesheets filter="?yui_css" output="css/frontend.css"
            '@MadalynnMainBundle/Resources/public/css/common.css'
          %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
          {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
            {% javascripts filter="?yui_css" output="js/js.js"
                '@MadalynnMainBundle/Resources/public/js/bootstrap-twipsy.js'
                '@MadalynnMainBundle/Resources/public/js/bootstrap-popover.js'
                '@MadalynnMainBundle/Resources/public/js/bootstrap-dropdown.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
    </head>

   <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Les doctorants de l'IPNL</a>
          <ul class="nav">
            <li class="active"><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a href="{{ path('user_list') }}">Les doctorants</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

          {% if is_granted('ROLE_USER') %}
          <ul class="nav secondary-nav pull-right">
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">{{ app.user.firstname }}</a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('fos_user_profile_show') }}">Voir mon profil</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}">Editer mon profil</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="sidebar">
          {% if not is_granted('ROLE_USER') %}
            {% render "FOSUserBundle:Security:login" %}
          {% endif %}
          <div class="verticalline">
            <h4>Liens utiles</h4>
          </div>
              <ul>
                  <li><a href="#">Page du doctorant</a></li>
                  <li><a href="#">Liste des liens vitaux</a></li>
              </ul>
      </div>
      <div class="content">
        <div class="page-header">
            {% block pageheader %}{% endblock %}
        </div>
        {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>
      <footer>
          &nbsp;
      </footer>
    </div> <!-- /container -->
  </body>
</html>