{% extends 'form_div_layout.html.twig' %}

{% block form_legend %}
          <legend>{{ label | trans }}</legend>
{% endblock form_legend %}

{% block generic_label %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
    {{ label|trans }}
    {% if required %}*{% endif %}
    {% if help_label %}
        <span class="help-block">{{ help_label|trans }}</span>
    {% endif %}
    </label>
{% endspaceless %}
{% endblock %}

{% block field_label_attr_aware_label %}
{% spaceless %}
    {% if label_render %}
    {% set attr = label_attr|merge({'for': id}) %}
    {{ block('field_label') }}
    {% endif %}
{% endspaceless %}
{% endblock field_label_attr_aware_label %}

{% block field_row %}
    {% if not ('form' in form.get('types')) %}
    <div class="clearfix {% if errors|length > 0 %}error{% endif %}">
    {% endif %}
        {% if 'form' in form.get('types') and form.hasParent() != 0 %}
            {% if show_child_legend %}
                {{ block('form_legend') }}
            {% endif %}
    	{% else %}
        	{{ block('field_label_attr_aware_label') }}
        {% endif %}
    {% if not ('form' in form.get('types')) %}
        <div class="input">
    {% endif %}
            {% if errors|length > 0 %}
                {% set attr = attr|merge({'class': attr.class|default('') ~ ' error'}) %}
            {% endif %}
            {{ widget_prefix }}
            {{ form_widget(form) }}
            {{ widget_suffix }}
    {% if not ('form' in form.get('types')) %}
            {{ block('field_message') }}
        </div>
    </div>
    {% endif %}
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if read_only %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
    {% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue|trans}}" {% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}