{% if error %}
{% javascripts filter="?yui_css" output="js/alerts.js"
    '@MadalynnMainBundle/Resources/public/js/bootstrap-alerts.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endif %}
<div class="verticalline">
    <h4>Login</h4>
</div>
{% if error %}
<div class="alert-message error fade in" data-alert="alert">
    <a class="close" href="#">&times;</a>
    <p>{{ error | trans }}</p>
</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="pull-right login">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input class="span2" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="E-mail" />
    <input class="span2" type="password" id="password" name="_password" placeholder="Mot de passe" />
    <input class="btn btn-primary btn-small" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>

{%- if error %}
<script>
    $(".alert-message").alert('close')
</script>
{% endif %}