<div class="box article">
    <div class="header">
        {{ article.title }}
    </div>
    <div class="content">
        {{ article.content | raw }}
    </div>
    <div class="footer">
        {{ article.author.firstname }} {{ article.author.lastname }}, le {{ article.getCreated | localeDate('long') }}
    </div>
</div>