{% extends "MadalynnMainBundle:Admin:layout.html.twig" %}

{% block pageheader %}
    <h1>Article edit</h1>
{% endblock %}

{% block content %}
<form action="{{ path('admin_article_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_article') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_article_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock content %}