{% extends "MadalynnMainBundle:Admin:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/web/bundles/madalynnmain/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/web/bundles/madalynnmain/js/ckeditor/adapters/jquery.js"></script>
{% endblock %}

{% block pageheader %}
    <div class="right">
        <form action="{{ path('admin_article_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
             <input class="btn danger" type="submit" value="Supprimer" />
        </form>
    </div>
    <h1>Article edit</h1>
{% endblock %}

{% block content %}
<form action="{{ path('admin_article_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <div class="actions">
        <input class="btn primary" type="submit" value="Modifier" />&nbsp;<a class="btn" href="{{ path('admin_article') }}">Retour</a>
    </div>
</form>
<script>
    $(function() {
            var config = {
                toolbar: [
                    [ 'Source' ],
                    [ 'Bold', 'Italic', 'Underline', 'Subscript', 'Superscript', '-', 'RemoveFormat' ],
                    [ 'Link', 'Unlink' ],
                    [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'NumberedList', 'BulletedList' ],
                    [ 'Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo' ],
                    [ 'Find','Replace','-','SelectAll','-','SpellChecker', 'Scayt' ],
                    [ 'Format' ]
                ],
            };

            $('textarea.editor').ckeditor(config);
        });
</script>
{% endblock content %}