{% extends "MadalynnMainBundle:Admin:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/web/bundles/madalynnmain/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/web/bundles/madalynnmain/js/ckeditor/adapters/jquery.js"></script>
{% endblock %}

{% block pageheader %}
    <h1>Nouvel article</h1>
{% endblock %}

{% block content %}
<form action="{{ path('admin_article_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Créer" />&nbsp;<a class="btn back" href="{{ path('admin_article') }}">Retour</a>
    </div>
</form>

<script>
    $(function() {
            var config = {
                toolbar: [
                    [ 'Source' ],
                    [ 'Bold', 'Italic', 'Underline', 'Subscript', 'Superscript', '-', 'RemoveFormat' ],
                    [ 'Link', 'Unlink' ],
                    [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'NumberedList', 'BulletedList' ],
                    [ 'Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo' ],
                    [ 'Find','Replace','-','SelectAll','-','SpellChecker', 'Scayt' ],
                    [ 'Format' ]
                ],
            };

            $('textarea.editor').ckeditor(config);
        });
</script>
{% endblock %}